{{ content|raw }}

<div class="svg-bottom-wrap">
  {% include "forms/form.html.twig" %}

  <svg width="157" height="121" viewBox="0 0 157 121" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="157" height="1" transform="matrix(-1 0 0 1 157 0)" fill="#FC4F60"/>
    <rect width="157" height="1" transform="matrix(-1 0 0 1 157 120)" fill="#FC4F60"/>
    <rect width="157" height="1" transform="matrix(-1 0 0 1 157 60)" fill="#FC4F60"/>
  </svg>
</div>
