<h3 class="divot">Contact Us</h3>

<div class="body-wrap">
  <h2>{{ header.contact_headline }}</h2>
</div>

<div class="lines -pink -one" aria-hidden="true">
  {%- for i in 1..19 %}<i></i>{% endfor -%}
</div>

<div class="form-wrap">
  {% include "forms/form.html.twig" %}

  <div class="lines -pink -large" aria-hidden="true">
    {%- for i in 1..3 %}<i></i>{% endfor -%}
  </div>
</div>
