<div class="image-wrap">
  <div class="staggered-image">
    <div class="-wrap">
      <img class="-reveal" src="/user/images/cgre-innovation.jpg" alt="Woman writing on sticky note">
    </div>
  </div>
  <div class="staggered-image">
    <div class="-wrap">
      <img class="-reveal" src="/user/images/cgre-courage.jpg" alt="Two women looking courageous">
    </div>
  </div>
  <svg width="157" height="301" viewBox="0 0 157 301" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="157" height="1" transform="matrix(-1 0 0 1 157 300)" fill="#FCAF17"/>
    <rect width="157" height="1" transform="matrix(-1 0 0 1 157 240)" fill="#FCAF17"/>
    <rect width="157" height="1" transform="matrix(-1 0 0 1 157 0)" fill="#FCAF17"/>
    <rect width="157" height="1" transform="matrix(-1 0 0 1 157 60)" fill="#FCAF17"/>
    <rect width="157" height="1" transform="matrix(-1 0 0 1 157 180)" fill="#FCAF17"/>
    <rect width="157" height="1" transform="matrix(-1 0 0 1 157 120)" fill="#FCAF17"/>
  </svg>
</div>

<div class="body-wrap">
  <svg class="hide-for-medium-up" width="30" height="183" viewBox="0 0 30 183" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="30" height="1.5" transform="matrix(-1 0 0 1 30 90.9478)" fill="#FCAF17"/>
    <rect width="30" height="1.5" transform="matrix(-1 0 0 1 30 30.9478)" fill="#FCAF17"/>
    <rect width="30" height="1.5" transform="matrix(-1 0 0 1 30 150.948)" fill="#FCAF17"/>
    <rect width="30" height="1.5" transform="matrix(-1 0 0 1 30 0.947754)" fill="#FCAF17"/>
    <rect width="30" height="1.5" transform="matrix(-1 0 0 1 30 120.948)" fill="#FCAF17"/>
    <rect width="30" height="1.5" transform="matrix(-1 0 0 1 30 60.9478)" fill="#FCAF17"/>
    <rect width="30" height="1.5" transform="matrix(-1 0 0 1 30 180.948)" fill="#FCAF17"/>
  </svg>
  <svg class="show-for-medium-up" width="70" height="181" viewBox="0 0 70 181" fill="none" xmlns="http://www.w3.org/2000/svg">
    <rect width="70" height="1" transform="matrix(-1 0 0 1 70 90)" fill="#FCAF17"/>
    <rect width="70" height="1" transform="matrix(-1 0 0 1 70 30)" fill="#FCAF17"/>
    <rect width="70" height="1" transform="matrix(-1 0 0 1 70 150)" fill="#FCAF17"/>
    <rect width="70" height="1" transform="matrix(-1 0 0 1 70 0)" fill="#FCAF17"/>
    <rect width="70" height="1" transform="matrix(-1 0 0 1 70 120)" fill="#FCAF17"/>
    <rect width="70" height="1" transform="matrix(-1 0 0 1 70 60)" fill="#FCAF17"/>
    <rect width="70" height="1" transform="matrix(-1 0 0 1 70 180)" fill="#FCAF17"/>
  </svg>

  <div class="headers">
    <h3 class="divot">Our Values</h3>
    <h2 class="h1">{{ header.values_headline }}</h2>
  </div>

  {{ content|raw }}

</div>
