<div class="lines -one -yellow" aria-hidden="true">
  {%- for i in 1..3 %}<i></i>{% endfor -%}
</div>
<div class="image-wrap">
  <div class="staggered-image -reveal">
    <picture>
      <source media="(max-width: 750px)" srcset="/user/images/cgre-mob-innovation.jpg">
      <img src="/user/images/cgre-innovation.jpg" alt="Woman writing on sticky note">
    </picture>
  </div>
  <div class="staggered-image -reveal -delay">
    <img src="/user/images/cgre-courage.jpg" alt="Two women looking courageous">
  </div>
  <div class="lines -large -yellow" aria-hidden="true">
    {%- for i in 1..7 %}<i></i>{% endfor -%}
  </div>
</div>

<div class="body-wrap">
  <div class="lines -yellow" aria-hidden="true">
    {%- for i in 1..7 %}<i></i>{% endfor -%}
  </div>

  <div class="headers">
    <h3 class="divot">Our Values</h3>
    <h2 class="h1">{{ header.values_headline }}</h2>
  </div>

  {{ content|raw }}

</div>
