// Shared components

// Wrappers around buttons
.actions {
  padding: grid(2) 0;
}

// Decorative lines
.lines {
  position: absolute;
  &.-reveal {
    opacity: 1;
    transform: none;
    transition: none;
    @include media-md {
      transform: none;
    }
  }
  i {
    display: block;
    border-top: 1px solid color(darkgray);
    margin-bottom: 29px;
    opacity: 0;
    will-change: opacity;
  }
  &.-active {
    i {
      animation: fadeIn 0.25s linear;
      animation-fill-mode: forwards;
    }
  }
  &.-large i {
    margin-bottom: 59px;
  }
  &.-yellow i {
    border-color: color(yellow);
  }
  &.-pink i {
    border-color: color(pink);
  }
  &.-lightgray i {
    border-color: color(lightgray);
  }

  @for $i from 1 through 20 {
    i:nth-child(#{$i}) {
      animation-delay: #{0.5 + 0.05 *  $i}s;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

// Image reveals
.-reveal {
  opacity: 0;
  transform: translate3d(0, 50%, 0);
  transition: transform 1.25s $cubic-ease2, opacity 0.5s $cubic-ease2;
  will-change: transform, opacity;

  @include media-md {
    transform: translate3d(0, 30%, 0);
  }

  &.-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

// Flash notices
.flash {
  padding: 10px;
  // color: color(blue);
  // background: color(white);
  text-align: center;
  padding: 20px 0;
  margin: grid(4) 0;
}

// Color image treatment
// .color-massage {
//   display: inline-block;
//   position: relative;
//   img {
//     display: block;
//   }
//   .hands {
//     &::before,
//     &::after {
//       content: '';
//       position: absolute;
//       top: 0;
//       left: 0;
//       right: 0;
//       bottom: 0;
//     }
//     &::before {
//       background: #1A1A1A;
//       mix-blend-mode: lighten;
//     }
//     &::after {
//       background: rgba(235, 229, 208, 0.50);
//       mix-blend-mode: multiply;
//     }
//   }
// }
