// Shared components

// Wrappers around buttons
.actions {
  padding: grid(2) 0;
}

// Decorative lines (switched to HTML instead of SVGs)
.lines {
  position: absolute;
  &.-reveal {
    // Disable image reveal transitions for lines container
    opacity: 1;
    transform: none;
    transition: none;
    @include media-md {
      transform: none;
    }
  }
  // Each <i> is a line
  i {
    display: block;
    border-top: 1px solid color(pink);
    margin-bottom: 29px;
    opacity: 0;
    will-change: opacity;
  }
  &.-active {
    i {
      animation: fadeIn 0.25s linear;
      animation-fill-mode: forwards;
    }
  }
  &.-large i {
    margin-bottom: 59px;
  }
  &.-yellow i {
    border-color: color(yellow);
  }
  &.-lightgray i {
    border-color: color(lightgray);
  }

  // Staggered reveal animation
  @for $i from 1 through 20 {
    i:nth-child(#{$i}) {
      animation-delay: #{0.5 + 0.05 *  $i}s;
    }
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

// Image reveals
.-reveal {
  opacity: 0;
  transform: translate3d(0, 50%, 0);
  transition: transform 1.25s $cubic-ease2, opacity 0.5s $cubic-ease2;
  will-change: transform, opacity;

  &.-delay {
    transition: transform 2s $cubic-ease2, opacity 0.5s $cubic-ease2;
  }

  @include media-md {
    transform: translate3d(0, 30%, 0);
  }

  &.-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

