{% extends 'partials/base.html.twig' %}

{% block content %}

  {% block premoduleContent %}
    {{ page.content|raw }}
  {% endblock %}

  {% for module in page.collection() %}
      <section class="page" data-title="{{ module.title }}" id="{{ module.menu|lower|replace({' ':'-'}) }}">
        <div class="container">
          {{ module.content|raw }}
        </div>
      </section>
  {% endfor %}

{% endblock %}
