// Careers

body.page-home {
  .wrap {
    @include clearfix;
  }
  .image-wrap {
    position: relative;
  }
  .staggered-image {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }


  // Desktop styles
  @include media-md {
    .block-text {
      &.-halfWidth {
        clear: left;
      }
    }
  }
}

// Shared page block styles
.page {
  // Large headers
  h2.h1 {
    margin: grid(5) 0 grid(5);
  }
  h3.divot {
    &::after {
      content: '—';
      display: block;
    }
  }

  @include media-md {
    padding: grid(6) 0 grid(10);
  }
}

// Mission
.page#mission {
  h3 {
    color: color(pink);
  }
  .image-wrap {
    margin-bottom: grid(6);
  }
  .staggered-image:nth-child(1) {
    width: columns(7);
  }
  .staggered-image:nth-child(2) {
    width: columns(4);
    position: absolute;
    right: 0;
    bottom: grid(-20);
  }

  .header-wrap {
    width: columns(5);
  }

  .body-wrap {
    width: columns(4);
    float: right;
    margin-top: grid(-5);
  }

}

// Focus Areas
.page#focus-areas {
  background: color(darkgray);
  color: color(lightgray);
  h3 {
    color: color(yellow);
  }
  .header-wrap {
    width: columns(4);
  }

  .focus-area {
    @include clearfix;
    h2 {
      color: color(yellow);
    }
    svg {
      position: absolute;
    }

    &.-one {
      svg {
        left: columns(-1, 4);
        top: grid(-12);
        z-index: z(lines-back);
      }
      .image-wrap {
        width: columns(4);
        margin: grid(20) 0 0 columns(1);
        float: left;
        .staggered-image {
          position: relative;
          z-index: z(image-front);
        }
      }
      .body-wrap {
        margin-top: grid(27);
        width: columns(4);
        float: right;
      }
    }

    &.-two {

    }
  }
}