// Careers

body.page-home {
  .wrap {
    @include clearfix;
  }
  .image-wrap {
    position: relative;
  }
  .staggered-image {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }


  // Desktop styles
  @include media-md {
    .block-text {
      &.-halfWidth {
        clear: left;
      }
    }
  }
}

// Shared page block styles
.page {
  @include clearfix;

  // Large headers
  h2 {
    @include h1;
    margin: grid(5) 0 grid(5);
  }
  p {
    @include p1;
  }
  h3.divot {
    &::after {
      content: '—';
      display: block;
    }
  }

  @include media-md {
    padding: grid(6) 0 grid(10);
  }
}

.page#contact {
  h3 {
    color: color(pink);
  }
  .body-wrap {
    @include media-md {
      width: columns(3);
    }
  }
}
