// Homepage

body.page-home {
  .wrap {
    @include clearfix;
  }
  .image-wrap {
    position: relative;
  }
  .staggered-image {
    display: block;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  // Desktop styles
  @include media-md {
    .block-text {
      &.-halfWidth {
        clear: left;
      }
    }
  }
}

// Shared page block styles
.page {
  @include clearfix;
  padding: grid(5) 0 grid(5);

  svg {
    z-index: z(lines-back);
    rect {
      vector-effect: non-scaling-stroke;
    }
  }

  .staggered-image {
    position: relative;
    z-index: z(image-front);
  }

  // Large headers
  h2 {
    @include h1;
    margin: grid(1) 0 grid(2);

    @include media-md {
      margin: grid(5) 0 grid(5);
    }
  }
  p {
    @include p3;

    @include media-md {
      @include p1;
    }
  }
  h3.divot {
    &::after {
      content: '—';
      display: block;
    }
    font-size: 14px;
  }

  @include media-md {
    h3.divot {
      font-size: 18px;
    }
    padding: grid(6) 0 grid(10);
  }
}
