// Leadership

.page#leadership {

  background: color(purple);
  color: color(lightgray);

  .people {
    .person {
      float: left;
      width: 50%;
      h3 {
        margin: grid(3) 0 0;
        &.title {
          margin: 0 0 grid(2);
        }
      }
      p {
        @include p2;
        font-size: 16px;
      }
    }
  }

  @include media-md {
    padding-top: grid(28);

    svg {
      position: absolute;
      top: grid(-25);
      left: 0;
    }
    svg.-bottom {
      top: grid(8);
    }

    .people {
      padding: grid(5) 0 grid(12) columns(2);
      .person {
        width: columns(2, 8);
        padding-left: $gutter;
      }
    }
  }

}
