// Leadership

.page#leadership {

  background: color(purple);
  color: color(lightgray);

  .people {
    .person {
      h3 {
        margin: 28px 0 0;
        &.pronouns {
          margin: 0;
        }
        &.title {
          margin: 0 0 grid(2);
          &::after {
            content: '—';
            display: block;
            margin: grid(2) 0;
            color: color(yellow);
          }
        }
      }
      p {
        @include p2;
        font-size: 16px;
      }
    }
  }

  @include media-md {
    padding-top: grid(28);

    svg {
      position: absolute;
      top: grid(-25);
      left: 0;
    }
    svg.-bottom {
      top: grid(12);
    }

    .people {
      display: flex;
      flex-flow: row wrap;
      margin: grid(-22) #{-($gutter / 2)} 0;
      padding: 0 0 0 columns(2);
      .person {
        flex: 1 1 50%;
        padding: 0 $gutter / 2;
        .bio {
          padding-right: grid(1);
        }
      }
    }
  }

}
