// Leadership

.page#leadership {

  background: color(purple);
  color: color(lightgray);
  p {
    @extend %smooth;
  }

  .header-wrap {
    margin-top: grid(-2);
    .lines {
      width: 30px;
      position: relative;
      i:nth-child(n+4) {
        display: none;
      }
      &.-two {
        display: none;
      }
    }
  }

  .people {
    .person {
      h3 {
        margin: 28px 0 0;
        &.pronouns {
          margin: 0;
        }
        &.title {
          margin: 0 0 grid(2);
        }
      }
      &.-thanks {
        h3 {
          margin-bottom: grid(2);
        }
      }
      .bio {
        position: relative;
        padding: grid(4) 0 grid(2);
        &::before {
          content: '—';
          position: absolute;
          top: 0;
          color: color(yellow);
        }
      }
      p {
        @include p2;
        font-size: 16px;
      }
    }
  }

  @include media-md {
    padding-top: grid(35);

    .header-wrap {
      .lines {
        width: 70px;
        position: absolute;
        top: grid(-29);
        left: 0;
        i:nth-child(n+4) {
          display: block;
        }

        &.-two {
          display: block;
          top: grid(14);
        }
      }
    }

    .people {
      display: flex;
      flex-flow: row wrap;
      margin: grid(-22) columns(2) 0 #{-($gutter / 2)};
      padding: 0 0 0 columns(2);
      .person {
        flex: 1 1 50%;
        padding: 0 $gutter / 2;
        .bio {
          padding-right: grid(1);
        }
      }
    }
  }

}
