// Mission

.page#mission {

  h3 {
    color: color(pink);
  }
  .image-wrap {
    margin-bottom: grid(3);
  }
  .staggered-image:nth-child(1) {
    width: columns(7);
  }
  .staggered-image:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: grid(-6);
    width: columns(4);
  }

  .header-wrap {
    width: columns(7);
  }

  .body-wrap {
    margin-top: grid(2);
  }

  // Desktop styles
  @include media-md {
    .image-wrap {
      margin-bottom: grid(6);
    }
    .staggered-image:nth-child(1) {
      width: columns(7);
    }
    .staggered-image:nth-child(2) {
      right: 0;
      width: columns(4);
      bottom: grid(-20);
    }

    .header-wrap {
      width: columns(5);
    }

    .body-wrap {
      float: right;
      width: columns(4);
      margin-top: grid(-5);
    }

  }

}
