// Mission

.page#mission {

  h3 {
    color: color(pink);
  }
  .image-wrap {
    margin-bottom: grid(3);
  }
  .staggered-image:nth-child(1) {
    width: columns(7);
  }
  .staggered-image:nth-child(2) {
    position: absolute;
    right: 0;
    bottom: grid(-6);
    width: columns(4);
  }

  // Style decorative lines in header
  .lines.-one {
    left: 50%;
    width: 100vw;
    transform: translate(-50vw, grid(4));
    i:nth-child(n+7) {
      display: none;
    }
  }
  .lines.-two {
    display: none;
  }

  .header-wrap {
    width: columns(7);
  }

  .body-wrap {
    margin-top: grid(2);
  }

  // Desktop styles
  @include media-md {
    padding-top: grid(1);

    .lines.-one {
      width: calc(100vw - #{columns(1)});
      transform: translate(-50vw, grid(8));
      i:nth-child(n+7) {
        display: block;
      }
    }
    .lines.-two {
      display: block;
      width: 70px;
      left: 50%;
      transform: translateX(-50%);
      bottom: grid(-12);
    }

    .image-wrap {
      margin-bottom: grid(6);
    }
    .staggered-image:nth-child(1) {
      width: columns(7);
    }
    .staggered-image:nth-child(2) {
      right: 0;
      width: columns(4);
      bottom: grid(-20);
    }

    .header-wrap {
      width: columns(5);
    }

    .body-wrap {
      float: right;
      width: columns(4);
      margin-top: 0;
    }

  }

}
