// Values

.page#values {

  h2 {
    color: color(yellow);
  }

  svg {
    position: absolute;
    left: 0;
    top: grid(-3);
    z-index: z(lines-back);
  }
  .image-wrap {
    width: columns(4);
    margin: grid(10) 0 0 columns(1);
    float: right;
    .staggered-image {
      position: relative;
      z-index: z(image-front);
    }
    .staggered-image:nth-child(2) {
      width: columns(3, 4);
      margin-top: grid(-12);
      margin-left: columns(-1, 4);
    }
    svg {
      left: columns(1.25, 4);
      top: auto;
      bottom: grid(-12);
    }
  }
  .body-wrap {
    margin-top: grid(22);
    width: columns(4);
    float: left;
  }

}
