// Privacy Policy


.page-privacy-policy {

  h1.divot {
    &::before {
      content: '';
      display: block;
      width: 80px;
      height: 10px;
      background: color(pink);
      margin: grid(1) 0 grid(6);
    }
    margin-bottom: grid(8);
  }

  #body .container {
    padding: grid(4) 0 grid(10);

    @include media-md {
      .body-wrap {
        padding: 0 columns(1);
      }
    }
  }

}
