// Footer

footer {
  @include clearfix;
  background: color(darkgray);
  color: color(lightgray);
  p {
    @include p3;
    font-size: 14px;
  }
  h4.divot {
    &::after {
      content: '—';
      font-weight: normal;
      display: block;
      margin: grid(1) 0 grid(2);
    }
  }

  a.privacy {
    @include transition(all);
    padding-bottom: 4px;
    border-bottom: 1px solid transparent;

    svg {
      @include transition(all);
      margin-left: 10px;
      vertical-align: middle;
      width: 10px;
      fill: color(lightgray);
    }

    &:hover {
      border-bottom: 1px solid color(pink);
      svg {
        fill: color(pink);
      }
    }
  }

  form {
    input[type=email] {
      font-size: 14px;
      line-height: 1;
      border: none;
      border-bottom: 1px solid color(lightgray);
      padding: grid(0.5) 0;
      margin: 0;
      &::placeholder {
        color: color(lightgray);
      }
    }
    button.button {
      font-size: 14px;
      padding: grid(1) grid(2);
      font-weight: normal;
      vertical-align: bottom;
    }

  }

  @include media-md {
    .logo {
      width: columns(4);
      float: left;

      .divot {
        display: block;
        width: columns(1, 4);
        height: 10px;
        background: color(pink);
        margin: grid(1) 0 grid(25);
      }
    }

    .block.contact {
      width: columns(2);
      float: left;
    }

    form {
      .form-field:nth-child(1) {
        flex: 1 1 75%;
      }
      .form-field:nth-child(2) {
        flex: 1 1 25%;
      }
    }

    .block.newsletter {
      width: columns(4);
      float: left;
      p {
        margin-top: grid(3);
      }
    }

    padding: grid(10) 0 grid(14);
  }
}
