// Footer

footer {
  @include clearfix;
  background: color(darkgray);
  color: color(lightgray);
  p {
    @include p3;
    font-size: 14px;
  }
  h4.divot {
    &::after {
      content: '—';
      font-weight: normal;
      display: block;
      margin: grid(1) 0 grid(2);
    }
  }

  form {
    input[type=email] {
      border: none;
      border-bottom: 1px solid color(lightgray);
      padding: grid(1);
      margin: 0;
    }
    button.button {
      font-size: 14px;
      padding: grid(1) grid(2);
      font-weight: normal;
      vertical-align: bottom;
    }

  }

  @include media-md {
    .logo {
      width: columns(4);
      float: left;

      .divot {
        display: block;
        width: columns(1, 4);
        height: 10px;
        background: color(pink);
        margin: grid(1) 0 grid(25);
      }
    }

    .block.contact {
      width: columns(2);
      float: left;
    }

    form {
      input[type=email] {
        width: columns(3, 4);
      }
    }

    .block.newsletter {
      width: columns(4);
      float: left;
      p {
        margin-top: grid(3);
      }
    }

    padding: grid(10) 0 grid(14);
  }
}
